<div class="row home-menu">
    <div class="col-md-4 d-flex justify-content-center">
        <div class="home-menu-item one pointer" routerLink="/search-movies">Search Movies</div>
    </div> 
    <div class="col-md-4 d-flex justify-content-center pointer">
        <div class="home-menu-item two pointer" routerLink="/view-movies">View Movie List</div>
    </div> 
    <div class="col-md-4 d-flex justify-content-center pointer">
        <div class="home-menu-item three pointer" routerLink="/add-movie">Add Movie</div>
    </div> 
    <div class="col-md-4 d-flex justify-content-center pointer">
        <div class="home-menu-item four pointer" routerLink="/language-location">Languages/ Locations</div>
    </div> 
</div>
